projects/*/Library
projects/*/Temp
projects/*/*.csproj
projects/*/*.sln
projects/*/Logs
projects/*/UserSettings
projects/*/.idea
projects/*/obj
projects/*/Builds
projects/*/.vscode
projects/*/*.sln.DotSettings.user
projects/*/*.sln.DotSettings

/viewer/Library
/viewer/Temp
/viewer/*.csproj
/viewer/*.sln
/viewer/Logs
/viewer/UserSettings
/viewer/.idea
/viewer/obj
/viewer/Builds
/viewer/.vscode
/viewer/*.sln.DotSettings.user
/viewer/*.sln.DotSettings